@charset "UTF-8";

/* FONTES DO HEADER*/
@font-face {
    font-family: "coolvetica-hv-comp";
    src: url(fontes/header/Coolvetica/Coolvetica-Hv-Comp.otf) format("opentype");  
    font-display: swap;
}
@font-face {
    font-family: "coolvetica-rg";
    src: url(fontes/header/Coolvetica/Coolvetica-Rg.otf) format("opentype");
    font-display: swap;
}
@font-face {
    font-family:"coolvetica-rg-cond" ;
    src: url(fontes/header/Coolvetica/Coolvetica-Rg-Cond.otf) format("opentype");
    font-display: swap;
}
@font-face {
    font-family:"coolvetica-rg-lt" ;
    src: url(fontes/header/Coolvetica/Coolvetica-Rg-It.otf) format("opentype");
    font-display: swap;
}

/* FONTES DO MAIN*/
@font-face {
    font-family:"IDroid Bold Italic";
    src: url(fontes/main/idroid/IDroid\ Bold\ Italic.otf);
    font-display: swap;
}

@font-face {
    font-family:"IDroid Bold";
    src: url(fontes/main/idroid/IDroid\ Bold.otf);
    font-display: swap;
}

@font-face {
    font-family:"IDroid Italic" ;
    src: url(fontes/main/idroid/IDroid\ Italic.otf);
    font-display: swap;
}

@font-face {
    font-family: "IDroid";
    src: url(fontes/main/idroid/IDroid.otf);
    font-display: swap;
}




body{
    margin: 0;
    background-color: rgb(132, 225, 173);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 170px;
    background:linear-gradient(to top,#1a5c38 15%,#2b985b,rgb(54, 194, 116),#50f999);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 0;
}

header h1{
    font-size: 50px;
    font-family: "coolvetica-hv-comp";
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    text-shadow:1px 1px 1px  #0b221686;
}

header p{
    text-align: center;
}

header nav{
   margin-top: 40px;
}

header a{
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
}
nav a:hover{
    transform: scale(1.1);
}

main{
    background-color:white;
    max-width: 1100px;
    width: 75%;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 2px 2px 7px #015119;
    flex: 1;
}

main h2{
    margin-top: 0;
    text-align: left;
    font-family:"IDroid" ;
    color: #015119;
    padding: 20px 10px 10px 10px;
}


main h3{
    text-align: left;
    font-family:"IDroid" ;
    background:linear-gradient(to right,#b5f9d2,#f4f8f6, #fafbfb);
    color: #015119;
    font-weight: lighter;
    
}

main picture img{
    width: 80%;
    max-width: 100%;
    height: auto;
    border-radius:3px ;
}

main p{
    margin: 0;
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}

main a{
    text-decoration: none;
    color: #015119;
    font-weight: bold;

}

section{
    text-align: center;
}

.topicos{
    margin: 10px;
    background-color: rgb(197, 235, 214);
    border-radius: 10px;

}

h3.curiosidades{
    background: none;
    background-color:#2FA866;
    border-radius: 10px 10px 0px 0px;
    margin: 0;
    padding: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.topicos p{
    padding: 10px;
}

.colunas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    text-align: left;
    font-family: sans-serif;
}

.colunas li::marker{
    content: "✓";
    color: black;

}  

.video{
    margin: 20px;
    display: block;
    border: solid;
    border-color: #2b985b;
    border-width: 10px 20px;
    margin: 0;
}

.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    
}

footer{
    background-color: #015119;
    color: white;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer p{
    margin: 0;
    padding: 5px;

}
.icones{
    list-style: none;
    font-family: "IDroid",sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}

.icones img{
    width: 90px;
    height: auto;
}
.icones a{
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}
.icones a img:hover{
    transform: scale(1.1);
}

.icones a span:hover{
    transform: scale(1.1);
}